<!DOCTYPE html>
<html>
<head>
	<title>Movie Search</title>
</head>
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
	<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap-theme.css"/>
	<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css"/>
	<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css"/>


	<link rel="stylesheet" href="css/style.css" />

<body style="background-color:#D0D5C7;">
	<div ng-app="searchApp" style="background-color:#D0D5C7;" >
		<div ng-controller="firstController" ng-cloak style="background-color:#D0D5C7;">   
		<!-- ng-cloak directive is used to   code while page load  -->

		    <h1>Find Your Favourite Movie </h1> 
			<div layout="row" layout-align="center center">
			    <md-input-container class="md-block" flex="66">
                         <input ng-model="searchTerm" placeholder="Find Movie,series etc">
                </md-input-container>
                <!-- <a sref="#/search"><md-button class="md-raised md-primary" ng-click="search(searchTerm)">Search</md-button></a> -->
                <md-button ng-href="#/search/{{searchTerm}}" class="md-raised md-primary" >Search</md-button>
            </div>
			

             <!-- angular material ui started -->
             <ng-view style="background-color:#D0D5C7;">



            </ng-view>  
<!--
			<table ng-repeat="movieResult in viewResult" class="center">
			     <tr>
				     <th>
				     	<img ng-src="{{movieResult.Poster}}" alt="{{movieResult.Title}}" style="width:100px;height:100px;"/>
				     </th>
			     </tr>
			     <tr>
			        <td>Type: &nbsp;&nbsp;</td>
			        <td>&nbsp;&nbsp;{{movieResult.Type}}</td>
			     </tr>
			     <tr>
			        <td>Title: &nbsp;&nbsp; </td>
			        <td>&nbsp;&nbsp;{{movieResult.Title}}</td>
			     </tr>
			     <tr>
			         <td>Year: &nbsp;&nbsp;</td>
			         <td>&nbsp;&nbsp;{{movieResult.Year}}</td>
			     </tr>
			</table>
-->			
        </div>
	</div>
</body>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angularUtils-pagination/dirPagination.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
<script  type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>



<script type="text/javascript" src="/js/modules/firstModule.js"></script>
<script type="text/javascript" src="/js/config/mainConfig.js"></script>
<script type="text/javascript" src="/js/services/searchService.js"></script>
<script type="text/javascript" src="/js/services/movieInfo.js"></script>
<script type="text/javascript" src="/js/controllers/firstController.js"></script>
<script type="text/javascript" src="/js/controllers/searchController.js"></script>
<script type="text/javascript" src="/js/controllers/readMoreController.js"></script>


<!--   amgular material libraries -->

</html>   